<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MorphMQserver.Properties.MorphMQsrvr" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MorphMQserver.Properties.MorphMQsrvr>
            <setting name="DictPath" serializeAs="String">
                <value>d:\Work\Framework\GrammarEngine\src\bin-windows64\dictionary.xml</value>
            </setting>
        </MorphMQserver.Properties.MorphMQsrvr>
    </applicationSettings>
</configuration>