/MorphApp/bin
/MorphApp/obj
/HWClient/bin
/HWClient/obj
/HWServer/bin
/HWServer/obj
/MorphMQserver/bin
/MorphMQserver/obj
/TestFlatBuf/bin
/TestFlatBuf/obj
/Schemas/bin
/Schemas/obj
/MorphMQserver/*.user
/TestSQLite/bin
/TestSQLite/obj
/dbMQserver/bin
/dbMQserver/obj