/.vs/MorphApp/v14/.suo
*.suo
/MorphApp/bin
/MorphApp/obj
/HWClient/bin
/HWClient/obj
/HWServer/bin
/HWServer/obj
/MorphMQserver/bin
/MorphMQserver/obj
/TestFlatBuf/bin
/TestFlatBuf/obj
/Schemas/bin
/Schemas/obj
/MorphMQserver/*.user
/TestSQLite/bin
/TestSQLite/obj
/dbMQserver/bin
/dbMQserver/obj
/sgBroker/bin
/sgBroker/obj
/SimpleTest/bin
/SimpleTest/obj
/dbMQserverTests/bin
/dbMQserverTests/obj
/DirectDBA/bin
/DirectDBA/obj
/DirectDBconnector/bin
/DirectDBconnector/obj
/MorphApp.suo
/TestResults
/RicherTextBox/.vs/RicherTextBoxDemo/v14/*.suo
/RicherTextBox/RicherTextBox/bin
/RicherTextBox/RicherTextBox/obj
/RicherTextBox/RicherTextBoxDemo/bin
/RicherTextBox/RicherTextBoxDemo/obj
/RicherTextBox/RicherTextBoxDemo.exe
